html,
body {
    height: 100%;
	background:#555;
}

.wrap {
    min-height: 100%;
    margin: 0 auto 0px;
    padding: 0 0 0px;
}
.wrap > .container {
	background-color:#fff;
	max-width: 500px;
	position:relative;
}

/* Common style */
.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.notice-link {
  font-size: 12pt;
  color: #eee;
}
.notice-link a {
  color: aqua;
}